<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Helping students realize their full potential</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2023</h4>
                                    <h4 class="subheading">A Problem is identified</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As Anushka went through high school and prepared for college she noticed challenges unique to high school and undergrad students. Teens need so much more than Instagram and Tiktok!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jul 2023</h4>
                                    <h4 class="subheading">A Start-up is born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We started with a vision to create a social platform for students and by students to pursue their passion, help with their initiatives, showcase their achievements and build a serious online presence</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2024</h4>
                                    <h4 class="subheading">First launch planned</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We plan to launch the Marchup social platform for high school students in South and East Bay Area schools soon!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>