<!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">What does Marchup do for students?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-user-gear fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pursue your dreams, be a leader</h4>
                    <p class="text-muted"> Create Marchup spaces for your clubs, non-profits and other personal/team initiatives. Run your space by posting jobs, assign roles to members, create blogs and webpages, schedule events and more</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-user-tie fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Professional Online Profile</h4>
                    <p class="text-muted">Showcase your achievements, interests, projects, voluntary and paid job roles. Your participation in Marchup spaces is automatically captured in your profile, so colleges/employers recognize your efforts </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-handshake fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Connect with like minded students</h4>
                    <p class="text-muted">Search, follow, connect with and message students in your area with similar interests and goals</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Job board</h4>
                    <p class="text-muted">Post jobs and ask for help on your projects, search for job listings and connect with project owners</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-robot fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Marchup AI</h4>
                    <p class="text-muted">Download editable resume based on your profile. (Coming soon) AI counsellor </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-plug fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">3rd party integration</h4>
                    <p class="text-muted">(Coming soon) Instagram and Gofundme integration making cross-posting and fund-raising easy</p>
                </div>
            </div>
        </div>
    </section>