<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include contact.html %}
    {% include features.html %}
    {% include  portfolio_grid.html %}
    {% include sponsor.html %}
    {% include team.html %}
    {% comment %}{% include about.html %} {% endcomment %}
    {% comment %}{% include clients.html %} {% endcomment %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
